<% provide(:title, 'Quienes somos') %>
<!DOCTYPE html>
<html>
  <head>
    <title>twomatch.cl | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Quienes somos?</h1>
    <p>
      Somos un grupo de emprendedores preocupados por entregar herramientas de comercio electronico a todo tipo de emprendedores.
    </p>
  </body>
</html>

