$('#busqueda_comercios_form_ciudad_id').empty();
<% for ciudad in @ciudads %>


$('#busqueda_comercios_form_ciudad_id').append($("<option></option>").attr("value",<%= ciudad.id %>).text('<%= ciudad.nombre %>'));


<% end %>