<div>
  <h2>Escoge el lugar...</h2>
</div>
<div>
  <table class="table_busqueda_level_1">
    <tr>
      <td>
        <div>
          <table class="table_busqueda_level_2">
            <tr>
              <td>
                <div class="field">

                  <script type="text/javascript">
                      jQuery(document).ready(function() {

                          jQuery('#comercio_ciudad_id').html("<option value=''>Selecciona la ciudad</option>");
                      });
                  </script>


                  <%= render 'form' %>
                </div>
                <div class="field">
                </div>
                <div class="actions">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

