<div class="span8">
  <% if @region.ciudads.any? %>
      <h3>Ciudades (<%= @region.ciudads.count %>)</h3>
      <ol class="ciudads">
        <% @region.ciudads.each do |ciudad| %>
            <tr>
              <td><%= ciudad.nombre %></td>
              <td><%= link_to 'Show', ciudad %></td>
            </tr>
        <% end %>
       </ol>
  <% end %>
</div>