<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Quienes somos?",   about_path %></li>
      <li><%= link_to "Contáctanos", contact_path %></li>
    </ul>
  </nav>
  <%= yield :scripts %>
</footer>
